.body2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.body2 div {
    background: grey;
    border: 2px;
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: #1F2937;
    color: white;
}